.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.visual {
  overflow: "hidden";
  width: "100vw";
  height: "100vh";
}

.container {
  position: fixed;

  padding: 0;
  width: "100vw";
}

.panel {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.2em;

  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1em 3em;
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 5em;
  color: white;
}

.blurred-panel {
  filter: blur(10px);
}

.button {
  transition: 300ms;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1db954;
  border: none;
  border-radius: 10em;
  color: white;
  padding: 0.4em 2.5em;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 10px 2px #323232;
  font-size: 1.5em;
}
.button:hover {
  transition: 300ms;
  padding: 0.5em 2.8em;
  box-shadow: 0 0 10px 5px #414141;
  color: white;
}

.menu-button {
  transition: 300ms;
  position: fixed;
  top: 2em;
  left: 2em;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  width: 2.5em;
  height: 2.5em;
  background-color: #00000073;
  border-color: white;
  border-width: 0.3em;
}

.menu-button:hover {
  transition: 300ms;

  box-shadow: 0 0 5px 2px #414141;
  background-color: #161616eb;
}
